.map-edit-container {
  display: flex;
}

.map-modal-trigger-button {
  margin-bottom: 10px !important;
}

#map-editor-modal {
  top: auto;
  left: auto !important;
  width: 95% !important;
}

#map-widget-toggle {
  color: blue !important;
}

.map-text-view {
  display: flex;
  padding: 1rem 0;
}

.data-param-title {
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
  font-size: 16px;
}

.data-param-values {
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
  font-size: 14px;
}

.map-layer-description-field {
  width: 100%;
}

.map-layer-description-field
  > .slate_wysiwyg
  > .grid
  > .stretched.row
  > .four.wide.column {
  display: none !important;
}

.map-layer-description-field
  > .slate_wysiwyg
  > .grid
  > .stretched.row
  > .eight.wide.column {
  width: 100% !important;
  padding: 10px 0 !important;
}
