.map-edit-container {
  display: flex;
}

.map-modal-trigger-button {
  margin-bottom: 10px !important;
}

#map-editor-modal {
  top: auto;
  left: auto !important;
  width: 95% !important;
}

#map-widget-toggle {
  color: blue !important;
}

.map-text-view {
  display: flex;
  padding: 1rem 0;
}

.data-param-title {
  font-size: 16px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
}

.data-param-values {
  font-size: 14px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
}
