.map-edit-container {
  display: flex;
}

.map-modal-trigger-button {
  margin-bottom: 10px !important;
}

#map-editor-modal {
  top: auto;
  left: auto !important;
  width: 95% !important;
}

#map-widget-toggle {
  color: blue !important;
}

.map-text-view {
  display: flex;
  padding: 1rem 0;
}

.map-editor-modal {
  width: '95% !important';
}

.webmap-container {
  position: sticky;
  top: 10px;
}

.map-edit-actions-container {
  padding: 5px 0;
  margin-right: 10px;
  margin-left: auto;
}

.layer-reset-button {
  margin-top: 5px !important;
  animation: fadeDown 0.2s ease-in;
}

.layer-check-button {
  margin-top: 5px !important;
  margin-left: auto !important;
  animation: fadeDown 0.2s ease-in;
}

.layer-submit-button {
  margin-top: 5px !important;
  margin-left: auto !important;
  animation: fadeDown 0.2s ease-in;
}

.ruleGroup {
  border: 1px solid lightgray !important;
  margin: 10px 0;
  background-color: transparent !important;
}

.ruleGroup-addRule {
  padding: 7px 10px !important;
  background-color: darkgray !important;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.ruleGroup-addGroup {
  padding: 7px 10px !important;
  background-color: darkgray !important;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.ruleGroup-combinators {
  padding: 0.3em 0 !important;
}

.rule-operators {
  padding: 0.3em 0 !important;
}

.rule-value {
  padding: 0.3em 0 !important;
}

.rule-fields {
  padding: 0.3em 0 !important;
}

.rule-remove {
  padding: 1px 6px !important;
  border: 2px solid #d02144 !important;
  border-radius: 50px;
  color: #d02144;
  cursor: pointer;
}

.map_source_title {
  font-weight: bold;
}

.map_source_description {
  margin-left: 5px;
}

.data-query-widget-field {
  margin: 10px 0;
}

.spaced-row {
  width: 100%;
  /* border-bottom: 1px solid lightgray; */

  padding-bottom: 10px;
}

.legend-title {
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 0 !important;
}

.data-param-title {
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
  font-size: 16px;
}

.data-param-values {
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

.map-layer-description-field {
  width: 100%;
}

.map-layer-description-field
  > .slate_wysiwyg
  > .grid
  > .stretched.row
  > .four.wide.column {
  display: none !important;
}

.map-layer-description-field
  > .slate_wysiwyg
  > .grid
  > .stretched.row
  > .eight.wide.column {
  width: 100% !important;
  padding: 10px 0 !important;
}

.legend-container {
  margin: 15px 0;
}

.map_source_param_container {
  display: flex;
}

.extra-view-external-icon {
  color: inherit;
  font-size: 10px;
}

.extra-view-external-button {
  padding: 2px 15px !important;
}

.legend-action {
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
