.map-edit-container {
  display: flex;
}

.map-modal-trigger-button {
  margin-bottom: 10px !important;
}

#map-editor-modal {
  width: 95% !important;
  top: auto;
  left: auto !important;
}

#map-widget-toggle {
  color: blue !important;
}

.map-text-view {
  display: flex;
  padding: 1rem 0;
}
